header {
  text-align: center;
  font-style: italic;
  background-color: #7b5737;
}

.info {
  text-align: center;
  background-color: #cfb095;
  color: #black;
}

img {
  width: 50%;

}

.container {
  width: 50%;
  background-color: #cfb095;
}

h3 {
  background-color: #cfb095;
  color: black;
  text-align: center;
}

.image {
  text-align: center;
}
